@model IEnumerable<VisitorManagement.Models.Products>

@{
    ViewData["Title"] = "SortByDate";
}

@using(Html.BeginForm("SortByDate", "Products", FormMethod.Post))
{
    <span>Start Date: </span><input type="date" name="start"/>
    <span>End Date: </span><input type="date" name="end"/>
    <input type="submit" value="Get Records"/>
}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VisitingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<button>@Html.ActionLink("Download Records", "ConvertToPDF_Dates", new {I})</button>*@
</div>
