@model VisitorManagement.Models.Products

@{ Layout = null; }

<p>Visitor Name:  @Html.DisplayName(@Model.Name)</p>
<p>Visitor Phone Number: @Html.DisplayName(@Model.Phone)</p>
<p>Visitor Status: @Html.DisplayName(@Model.Status.ToString())</p>

